<footer class="bg-dark text-white text-center py-3 fixed-bottom">
    <div class="container">
        <p class="mb-0">&copy; 2024 Oscar Boguszewski.</p>
        <p class="mb-0">Développé dans le cadre de l'examen Symfony.</p>
    </div>
</footer>