{% extends 'base.html.twig' %}

{% block body %}
    <h1>Paiement réussi</h1>
    <p>Merci pour votre commande ! Votre paiement a été accepté.</p>
    <a href="{{ path('product') }}">Retour à la boutique</a>
{% endblock %}